---
import Notification from "../components/Notification.astro";
import NotificationsBar from "../components/NotificationsBar";
import NotificationsLayout from "../layouts/NotificationsLayout.astro";
import { $notifications } from '../store/notifications'


const notifications = $notifications.value;

---

<NotificationsLayout>
	<main class="w-[100%] h-[100dvh] px-4">
		<NotificationsBar client:load />
		<div class="flex flex-col gap-6">
			{notifications?.map((notification) => <Notification client:load name={notification.name} type={notification.type} time={notification.time} postName={notification.postName} commentedPicture={notification.commentedPicture} avatar={notification.avatar} unread={notification.unread} />)}
		</div>
	</main>
</NotificationsLayout>
		



