---
import { type ClassValue, clsx } from "clsx";
import { twMerge } from "tailwind-merge";


function cn(...inputs: ClassValue[]) {
  return twMerge(clsx(inputs));
}

interface Props {
  unread: boolean;
  type: "post-reaction" | "follow" | "joined" | "left" | "message" | "picture-comment";
  name: string;
  avatar: string;
  message?: string;
  time: string;
  postName?: string;
 }
const { unread, type, name, avatar, message = "", time, postName } = Astro.props;
---

<div class={cn("flex gap-3", {
  "bg-very-light-grayish-blue rounded": unread
})}>
  <div class="flex justify-start items-start">
    <img src={avatar} alt={name} class=""/>

  </div>
  <div class="flex flex-col">
  
  {type === "post-reaction" && <p class=""
  ><span class="font-bold">{name}</span> reacted to your recent post <span class="font-bold text-dark-grayish-blue">{postName}</span>{unread && <span class="inline-flex align-text-top mt-[7px] ml-1 h-2 w-2 bg-primary-red rounded-full"></span>}</p>}
  <p class="">{time}</p>
</div>